
.DS_Store
gp3d/.DS_Store
.DS_Store
gp3d.xcodeproj/xcuserdata/arturartur.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
gp3d.xcodeproj/xcuserdata/arturartur.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
gp3d.xcodeproj/project.xcworkspace/xcuserdata/arturartur.xcuserdatad/UserInterfaceState.xcuserstate
