<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>gp3d.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>9F422DDA1F0D1C9F003D8D83</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9F422DF01F0D1C9F003D8D83</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9F422DFB1F0D1CA0003D8D83</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
